body {
    background: linear-gradient(91deg, #ffd86d, #ffa2f7, #8bbeff); /* Degradê não linear com 3 cores */
    
}


/* flexbox que segura todas */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* modelo para cada seção do curriculo */
.sheet {
    display: flex;
    background-color:white;
    margin: 3px;
    margin-top: 30px;
    padding:35px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    width: 900px;
    justify-content: center;
}

.sheetblock {
    display: flex;
    align-items: center;
    background-color: #deedff;
    width: 875px;
    height: 250px;
}

.leftblock {
    display: flex;
    font-size: 30px;
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    background-color: #ffa2f7;
    padding: 10px;
    margin: 30px;
    margin-bottom: 10px;
    text-align: left;
}

.rightblock {
    display: flex;
    /* font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 19px; */
    background-color: #ffa2a2;
    padding: 10px;
    margin: 30px;
    text-align: left;
}

.info {
    font-size: 15px;
    background-color: #ffd86d;
    margin-top: 0px;
    padding: 10px;
    
}

/* lista de pedaços do curriculo */
.first {
    height: 160px;
}

.second {
    height: 700px;
}

.third {
    height: 300px;
    margin-bottom: 30px;
}

/* arranjo do primeiro pedaço com a foto */
.sub-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url('imgs/joao-antonio2.JPG');
    background-size: contain;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}


/* tags para configuração dos textos */
.normal-text {
    text-align: justify;
    line-height: 25px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-family:Helvetica, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(1, 0, 0);
}

.nome {
    font-family: 'Times New Roman', Times, serif;
    font-size:60px;
    margin-bottom: 30px;
    font-weight: bold;
    color:black;
}

.sub-titulo {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 21px;
    text-transform: capitalize;
}

/* div simples generica para organização dos blocos de texto */
.text-block {
    display: flex;
}

.contato {

    justify-content: center;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.contato div{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 3px;
    margin-left: 20px;
}

.link:hover {
    color: blue;
}

.contato .normal-text {
    font-family: 'Times New Roman', Times, serif;
}

